services:

  postgres:
    image: postgres:15
    container_name: finance_postgres
    restart: always
    environment:
      POSTGRES_USER: finance_user
      POSTGRES_PASSWORD: finance_pass
      POSTGRES_DB: finance_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: finance_backend
    restart: always
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://finance_user:finance_pass@postgres:5432/finance_db
      CORS_ORIGINS: "http://3.106.167.247:3000,http://localhost:3000"


  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: http://localhost:8000
    container_name: finance_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"


volumes:
  postgres_data:
